.racine{
    background-color: var(--last-color);
}
.racine button{
    background-color: var(--primary-color);
    margin: 2%;
}
.racine button:hover{
    background-color: var(--secondary-color);
    font-family: "Nunito", sans-serif;
}
.class-parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes */
    gap: 10px; /* Espacement entre les blocs */
    margin: 2%;
}

.class-block{
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box; /* Assure que padding et bordure sont inclus dans la taille */
}
.class-block h2, p{
    color: aliceblue;
    
}

#delete{
    background-color: brown;
    margin-left: 50%;
    /* margin-bottom: 300px; */
    
}
#delete:hover{
    background-color: rgb(231, 14, 14);
}